# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol><li>Python</li>
<li>R</li>
<li>Java</li></ol>

Some of the commonly used libraries used by Data Scientists include:
<ol><li>TensorFlow</li>
<li>NumPy</li>
<li>Pandas</li></ol>

<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>Jupyter Notebook</td>
  </tr>
  <tr>
    <td>RStudio</td>
  </tr>
  <tr>
    <td>Apache Zeppelin</td>
  </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python.

In [10]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
print(result)

17

In [11]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Introduce basic arithmetic operations in Python.
- Demonstrate conversion of units in Python.
- Showcase basic HTML table creation.

## Author

Akshat KMM